// COLORS

$pg-color-black: #000;
$pg-color-white: #fff;

$pg-color-grey-extra-dark: #252525;
$pg-color-grey-dark: #333333;
$pg-color-grey-light: #777777;
$pg-color-grey-extra-light: #999999;

// TODO: Decide primary color / color theme


// SPACING